.AdditionalInformation {
  background-color: #5160ff;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.AdditionalInformation h1 {
  padding-left: 5%;
  padding-right: 5%;
  color: white;
  font-size: 6ch;

  margin-top: 2%;
  margin-bottom: 0%;
}

.AdditionalInformation p {
  padding-left: 20%;
  padding-right: 20%;
  color: white;
  font-size: 2ch;
  margin-top: 5%;
}

.AdditionalInformation img {
  width: 512px;
  height: 512px;
  margin-top: 12%;
}
